//font names
$ISANS                  : 'IRANSans-web';
$GANJ                   : 'GanjNameh-web';

$base-font 				: $ISANS, $GANJ, SEGOE UI, tahoma , arial;

// color 
$light-grey				: #ddd;
$grey					: #999;
$dark-grey				: #666;  
$bg-green				: #2F544D; 
$green					: #37C2A5;
$light-green			: #51CF86;
$nav-green				: #14bc9c;
$yellow					: #EDC937; 
$red					: #E47063;
$blue					: #00afef;
$dark-blue				: #5E6E7D;
$hover					: rgba(black,.06); 

$post-title-color		: $red;
$post-content-color		: #333;
$link					: $red;
$text-color				: #333;
$cm-border-color		: #E2E2E2;
$cm-bg-color			: #F3F3F3;
