.login {
	overflow: hidden;
	//padding: 20px;
	min-width: 550px;
	@include border-radius(10px);
	display: table;
	margin: 60px auto;
	border: 1px solid #ddd;
	.header {
		font-size: 1.3em;
		color: #555;
		font-weight: bold;
		padding: 8px 20px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
		background-color: #eee;
	}
	.form-group {
		font-size: 1.1em;
		font-weight: bold;
		margin-bottom: 10px;
		@include clear-fix();
		label {
			display: block;
			float: right;
			width: 30%;
			color: #555;
			heigh: 50px;
			text-align: left;
			padding: 10px 15px;
		}
		div.input {
			heigh: 50px;
			display: block;
			float: right;
			width: 70%;
			padding: 5px 15px;
			input {
				color: #555;
				font-weight: 500;
				display: block;
				text-align: left;
				@include border-radius(5px);
				border: 1px solid #ddd;
				width: 80%;
				padding: 7px 15px;
				direction: ltr;
				outline: none;
			}
		}
	}
	input[type="submit"] {
		background-color: #337ab7;
		&:hover {
			background-color: darken(#337ab7, 5);
		}
		color: #fff;
		border: none;
		outline: none;
		display: block;
		padding: 6px 20px;
		@include border-radius(5px);
		font-size: 1.1em;
		//font-weight:600;
		margin-bottom: 20px;
		margin-left: 85px;
		min-width: 100px;
		float: left;
		border-bottom: 2px solid darken(#337ab7, 10);
	}
}